<ul class='main-menu'>
    <li><a href="/">Home</a></li>
    <li>|</li>
    <li><a href="/files">Leggi il contenuto dei files</a></li>
    <li>|</li>
    <li><a href="/data">Scopri gli utenti</a></li>
    <li>|</li>
    <li><a href="/pagina">Leggi una pagina web</a></li>
</ul>